@font-face {
    font-family: "amatic_scbold";
    src: url('fonts/amaticsc-bold-webfont.woff2') format('woff2'),
        url('fonts/amaticsc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "space_grotesklight";
    src: url('fonts/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
        url('fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
    height: 100vh;
    background: #111 url("img/bg.png") top center/cover repeat-x fixed;
    font-family: 'Open Sans', sans-serif;
    color: #256577;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    color: #fff;
    font-size: 4em;
    font-family: "amatic_scbold", sans-serif;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}

#subtitle {
    /* display: none; */
    color: #256577;
    font-size: 1.8rem;
    font-family: "amatic_scbold", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#content-1,
#content-2,
#content-3,
#content-4 {
    display: none;
    width: 40%;
    max-height: 380px;
    max-width: 50%;
    overflow: auto;
    padding: 30px 20px 10px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #c7dce1;
    font-size: 1rem;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    font-family: "space_grotesklight", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

#close {
    display: none;
    position: relative;
    top: 20px;
    width: 40%;
    background: rgba(255, 255, 255, 0.1);
    width: 15px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#close:hover {
    background: rgba(255, 255, 255, 0.2);
}

h1 {
    font-weight: normal;
    margin: 0;
    padding-left: 25px;
    background: url(img/h1.png) no-repeat left;
    background-size: 15px;
    font-size: 1.5rem;
    font-family: "amatic_scbold", sans-serif;
    color: #8dc1cf;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.image {
    border-radius: 10px;
    border: 3px solid #2d606e;
    margin: 20px 0px;
    max-width: 100%;
}

.center {
    text-align: center;
}

.label {
    color: #438da1;
    font-size: 1.5rem;
    font-family: "amatic_scbold", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#one,
#two,
#three,
#four {
    text-align: center;
    position: absolute;
    cursor: pointer;
    padding: 10px;
}

#one {
    left: 10%;
    top: 20%;
}

#two {
    right: 20%;
    top: 10%;
}

#three {
    left: 25%;
    bottom: 15%;
}

#four {
    right: 10%;
    bottom: 20%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background: #1a2529;
    text-align: center;
    color: #2d606e;
    font-size: 1rem;
    /* font-family: "amatic_scbold", sans-serif;     */
    font-family: "space_grotesklight", sans-serif;
}

a {
    color: #2d606e;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    color: #438da1;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/parallax-2.png) top center/contain repeat fixed,
        url(img/parallax-1.png) top center/contain repeat fixed;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #30464e;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}